
  <div class="row wrapper border-bottom">
    <div class="col-lg-12">
      <h2>{{tituloSuperior}}</h2>
      <ol class="breadcrumb">
        <li>
          <a href="#">Inicio</a>
        </li>
        <!--<li>
        Other Pages
      </li>-->
        <li class="active">
          <strong>{{nombrePagina}}</strong>
        </li>
      </ol>
    </div>

    <!--<div class="col-md-3 col-md-offset-8">

    <a [routerLink]="['/Page-addEdit','id']" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar Pagina </a>
  </div>-->


    <div class="container-fluid bg-light ">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4 pt-3">
          <div class="form-group ">
            <select id="inputState" #tipofilter (change)="filtrar(tipofilter)" class="form-control">
              <option value="">--Seleccione--</option>
              <option [value]="usertype.tipo" *ngFor="let usertype of UsertypeCombo"> {{usertype.tipo}}</option>
            
            </select>
          </div>
        </div>
        <!--<div class="col-md-2 pt-3">
          <div class="form-group">
            <select id="inputState" class="form-control">
              <option selected>Model</option>
              <option>BMW</option>
              <option>Audi</option>
              <option>Maruti</option>
              <option>Tesla</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 pt-3">
          <div class="form-group">
            <select id="inputState" class="form-control">
              <option selected>Budget</option>
              <option>BMW</option>
              <option>Audi</option>
              <option>Maruti</option>
              <option>Tesla</option>
            </select>
          </div>
        </div>-->
        <div class="col-md-4 pt-3">
          <div class="form-group">
            <input class="form-control" type="date" name="name" value="09/04/2020" />
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-block">Buscar</button>
        </div>
      </div>
    </div>




  </div>
<div class="row" style="margin-top:2em">
  <list-auditor [auditoria]="auditoria" [isMantenimiento]="true">

  </list-auditor>
</div>
 
