
<div class="row">
  <div class="col-md-12">


    <form [formGroup]="tipoUsuario" (ngSubmit)="guardarDatos()">

      <!--<div class="form-group">
        <label>Id tipoUsuario</label>
        <input type="text" class="form-control" readonly formControlName="id" />

      </div>-->

      <input type="hidden" formControlName="id" />
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="name" />
        <div style="color:red" *ngIf="tipoUsuario.controls['name'].errors?.required">
          El nombre  de la tipoUsuario es Obligatorio
        </div>

      </div>

      <div class="form-group">
        <label>Descripcion</label>

        <input type="text" class="form-control" formControlName="description" />
        <div style="color:red" *ngIf="tipoUsuario.controls['description'].errors?.required">
          El nombre  de la tipoUsuario es Obligatorio
        </div>
      </div>


      <div class="form-group">
        <label>Seleccione las paginas</label>

        <div *ngFor="let listadopaginas of ListadoPaginas">
          <input class="check" (change)="verCheck()" type="checkbox" [name]="listadopaginas.id" />
          <label>{{listadopaginas.message}}</label>
        </div>
      </div>


     

      <input type="submit" class="btn btn-primary" value="Guardar" />
      <input type="button" [routerLink]="['/Rols']" class="btn btn-info" value="Regresar" />


    </form>

  </div>
</div>
