
<div class="row wrapper border-bottom">
  <div class="col-lg-12">
    <h2>{{tituloSuperior}}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Inicio</a>
      </li>
      <!--<li>
        Other Pages
      </li>-->
      <li class="active">
        <strong>{{nombrePagina}}</strong>
      </li>
    </ol>
  </div>
  <!--<div class="col-md-3 col-md-offset-8">-->
  <div class="row">

    <!--div class="col-md-offset-5">Adicione primero una aplicativo y luego elhijo</div>-->
    <div class="col-md-offset-5 col-md-3">
      <a [routerLink]="['/Application-addEdit','id']" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Adicionar categoría de Applicativo </a>
    </div>

    <!--<div class="col-md-2">


      <a [routerLink]="['/ApplicationSon-addEdit','id']" class="btn btn-info btn-block"><i class="fa fa-plus"></i> Adicionar Applicativo </a>
    </div>-->

  </div>
  </div>
<div class="row" style="margin-top:2em">
  <list-application [isMantenimiento]="true">

  </list-application>
</div>

