<h1>Hola!</h1>
<p>Bienvenido a la plataforma de CDC y Dito:</p>
<ul>
  <li><a href='https://dev.azure.com/Interfactura/CDC/_sprints/backlog/Product%20Team/CDC/Sprint%2010?workitem=4834'>Pataforma</a> </li>
  <li><a href='https://dev.azure.com/Interfactura/CDC/_sprints/backlog/Product%20Team/CDC/Sprint%2010?workitem=4834'>Contizaciones</a> y <a href='http://www.typescriptlang.org/'>para cualquier negocio </a> listo para facturar</li>
  <li><a href='https://dev.azure.com/Interfactura/CDC/_sprints/backlog/Product%20Team/CDC/Sprint%2010?workitem=4834'>Cobranza</a> Para ty empresa</li>
</ul>
<p>Ayudamos  a otras empresas a comenzar una nueva fomra de cobranza:</p>
<ul>
  <li><strong>Navegacion del lado de cloente</strong>. por ejemplo  <em>contador</em> que  <em>returna</em> al principio de la vida desde el principio.</li>
  <li><strong>Integración con angular y todo lo demás</strong>. Equipo multifuncional y muticultural   <code>Tirantez a ver las cosas buenas de los productos</code>. Podeerd decidir entre lo mas complicado que de una buena gestion de cobranza  adicionar tokens y todo lo realcionado a la .</li>
  <li><strong>Effciciencia de la producto  y construcción</strong>. es la forma nueva que todos desean cojnstruir su software de agil y con una buena metodología <code>y aca esta la solucion con dito e interfactura</code> Lleva configuracion automatica o salida y entrada de nuevas soluciones <code>Construir</code> Todo se combina y se lleva a un javascript dinamico que juega con muchas de las caracteristicas nuevas.</li>
</ul>
