<!--<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-content">

        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
          <thead>
            <tr>

              <th data-toggle="true">Nombre Completo </th>
              <th data-hide="phone">Descripción</th>

              <th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of tipoUsuario">


              <td>{{usuario.nombre}}</td>
              <td>{{usuario.descripcion}}</td>


              <td *ngIf="isMantenimiento==true" class="text-center">
                <div class="btn-group">
                  <a [routerLink]="(['/roles-addEdit',usuario.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a (click)="eliminartipoUsuario(usuario.id)" class="btn-danger btn btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>-->



<div class="container">
  <div class="row col-md-10  custyle">
    <table class="table table-striped custab">
      <thead>

        <tr>
         
          <th>Name</th>
          <th>Description</th>
         
          <th class="text-center">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let rol of tipoUsuario">


          <td>{{rol.name}}</td>
          <td>{{rol.description}}</td>
       




          <td *ngIf="isMantenimiento==true" class="text-center">
            <div class="btn-group">
              <a [routerLink]="(['/roles-addEdit',rol.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
              <a (click)="eliminartipoUsuario(rol.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
