

  <div class="container">
    <h2>{{title}}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" formControlName="username" placeholder="Username" />


      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" formControlName="password" placeholder="Password" />




      </div>



      <!--<input type="hidden" formControlName="grant_type" />-->
      <button type="submit" class="btn btn-black">Login</button>

    </form>


    <div style="color:red" *ngIf="Errorlog!=''">
      {{Errorlog}}
    </div>

  </div>
