
<div class="row wrapper border-bottom">
  <div class="col-lg-12">
    <h2>{{tituloSuperior}}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Inicio</a>
      </li>
      <!--<li>
        Other Pages
      </li>-->
      <li class="active">
        <strong>{{nombrePagina}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-md-3 col-md-offset-8">

    <a [routerLink]="['/Seguridad-addEdit','id']" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar seguridad a usuario  </a>
  </div>

</div>


<div class="row" style="margin-top:2em">
  <seguridad-list [isMantenimiento]="true"></seguridad-list>
</div>
