<div class="col-md-offset-3">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Tipo de auditoria</h2>
      <div class="row">
        <div class="col-md-4">
          <input class="form-control" placeholder="Fecha Inicio" type="date" required>
        </div>
        <div class="col-md-4">
          <input class="form-control" placeholder="Fecha Fin" type="date" required>

        </div>
        <br />
        <br />
       

        <div class="col-md-5">
          <input class="form-control" placeholder="Tipo de auditoria" type="text" required>
        </div>
        <div class="col-md-3">
          <select class="form-control">
            <option value="value">Aner</option>
            <option value="value">camilo</option>
            <option value="value">Fernando</option>
            <option value="value">Santiago</option>
          </select>
        </div>
      </div>
      <br />
     
      
      <button class="btn btn-primary">Search</button>

    </div>
  </div>

  <grantorinformatio-list>


  </grantorinformatio-list>
</div>
