
<div class="row wrapper border-bottom">
  <div class="col-lg-12">
    <h2>{{tituloSuperior}}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Inicio</a>
      </li>
      <!--<li>
        Other Pages
      </li>-->
      <li class="active">
        <strong>{{nombrePagina}}</strong>
      </li>
    </ol>
  </div>


  <form [formGroup]="searchGrantor" (ngSubmit)="Cambiarbuscar()">


    <div class="container-fluid bg-light ">
      <div class="row align-items-center justify-content-center">
        <!--<div class="col-md-4 pt-3">
    <div class="form-group ">
      <select id="inputState " class="form-control">
        <option selected>Brand</option>
        <option>BMW</option>
        <option>Audi</option>
        <option>Maruti</option>
        <option>Tesla</option>
      </select>
    </div>
  </div>-->
        <!--<div class="col-md-2 pt-3">
    <div class="form-group">
      <select id="inputState" class="form-control">
        <option selected>Model</option>
        <option>BMW</option>
        <option>Audi</option>
        <option>Maruti</option>
        <option>Tesla</option>
      </select>
    </div>
  </div>
  <div class="col-md-2 pt-3">
    <div class="form-group">
      <select id="inputState" class="form-control">
        <option selected>Budget</option>
        <option>BMW</option>
        <option>Audi</option>
        <option>Maruti</option>
        <option>Tesla</option>
      </select>
    </div>
  </div>-->
        <div class="col-md-8 pt-3">
          <label>RFC</label>
          <div class="form-group">
            <input placeholder="Grantor" class="form-control" type="text" required formControlName="grantorId">
            <!--<input type="text" class="form-control" formControlName="description" />-->
            <div style="color:red" *ngIf="searchGrantor.controls['grantorId'].errors?.required">
              Debe de poner un RFC
            </div>
          </div>
        </div>
        <div class="col-md-1" style="margin-top:1.8em">
          <button type="submit" class="btn btn-primary ">Buscar</button>
        </div>

        <div class="col-md-1" style="margin-top:1.8em" *ngIf="ver==true">
          <button (click)="eliminarEmpresa(grantorIdentificator)"  type="button" class="btn btn-danger ">Eliminar</button>
        </div>
      </div>
    </div>




    <!--<div class="container">
      <div class="row">
        <h2 class="text-center">Pagina de Empresa</h2>

        <div class="form-group">
          <label>GrantorId</label>
          <input placeholder="Grantor" class="col-md-6" type="text" required formControlName="grantorId">
          
          <div style="color:red" *ngIf="searchGrantor.controls['grantorId'].errors?.required">
            Debe de poner un GrantorId
          </div>
        </div>




        <input style="margin-left:2em" type="submit" class="btn btn-primary" value="Buscar" />
      

      </div>
    </div>-->

  </form>

  </div>
  <br />
  <empresa-list [ProcedureViewModel]="ProcedureViewModel" *ngIf="ver==true">


  </empresa-list>
