<h1>{{titulo}}</h1>

<div class="row">
  <div class="col-md-12">


    <form [formGroup]="pagina" (ngSubmit)="guardarDatos()">

      <!--<div class="form-group">
        <label>Id persona</label>
        <input type="text" class="form-control" readonly formControlName="idPagina" />

      </div>-->
      <input type="hidden" formControlName="id" />
    

      <div class="form-group">

        <!--<label>Visbile</label>

          <input type="radio" formControlName="bvisible" name="visible" value=true />

        </div>
        <div class="form-group">

          <label>NO visible Visbile</label>

          <input type="radio" formControlName="bvisible" name="visible" value=false/>-->

      </div>



      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="message" />
        <div style="color:red" *ngIf="pagina.controls['message'].errors?.required">
          El nombre  de la pagina es Obligatorio
        </div>

      </div>

      <div class="form-group">
        <label>Accion</label>
        <input type="text" class="form-control" formControlName="accion" />
        <div style="color:red" *ngIf="pagina.controls['accion'].errors?.required">
          El nombre  de la accion es Obligatorio
        </div>
      </div>





      <input type="submit" [disabled]="!pagina.valid" class="btn btn-primary" value="Guardar" />
      <input type="button" [routerLink]="['/Pages']" class="btn btn-info" value="Regresar" />


    </form>

  </div>
</div>

<div *ngIf="pagina.valid==false" style="margin:1em">

  <div class="alert alert-danger">

    El formulario no es Valido, Verifique que sean correctos los campos
  </div>

</div>
