


  <div class="row">
    <div class="panel panel-default clearfix">


      <div class="col-xs-12 toggle-header">
        <div class="col-xs-2">
          <span class="hidden-xs">Nombre</span>
          <span class="visible-xs">Nombre</span>
        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Description</span>
          <span class="visible-xs">Description</span>
        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">URL</span>
          <span class="visible-xs">URL</span>
        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Application</span>
          <span class="visible-xs">Application</span>
        </div>


        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Action</span>
          <span class="visible-xs">Action</span>
        </div>
      </div>

      <br />
      <div *ngFor="let applicative of applicatives">

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-2">
              {{applicative.name}}
            </div>
            <div class="col-xs-2 text-center">
              {{applicative.description}}
            </div>
            <div class="col-xs-2 text-center">
              <i class="glyphicon glyphicon-remove txt-red"></i>
            </div>
            <div class="col-xs-2 text-center">
              <i class="glyphicon glyphicon-ok txt-green"></i>
            </div>

            <div *ngIf="isMantenimiento==true" class=" col-xs-2 text-center">
              <div class="btn-group">
              <!--  <a [routerLink]="(['/Application-addEdit',applicative.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>-->
                <a (click)="eliminarAplication(applicative.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
              </div>
            </div>


          </div>
        </div>


        <!--<div *ngIf="applicative.listadoApplicativosHijos.length > 0">
          <div class="panel-body" *ngFor="let applicativeson of applicative.listadoApplicativosHijos">
            <div class="row" style="background-color:coral">

              <div class="col-xs-2">
                {{applicativeson.name}}
              </div>
              <div class="col-xs-2 text-center">
                {{applicativeson.description}}
              </div>
              <div class="col-xs-2 text-center">
                {{applicativeson.url}}
              </div>
              <div class="col-xs-2 text-center">
                {{applicativeson.applicationId}}
              </div>


              <div *ngIf="isMantenimiento==true" class=" col-xs-2 text-center">
                <div class="btn-group">
                  <a [routerLink]="(['/applicativeson-addEdit',applicativeson.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                  <a (click)="eliminarAuditoria(applicativeson.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                </div>
              </div>

            </div>
          </div>
        </div>-->



        </div>

      </div>

  </div>
    <!--<div class="container">
      <div class="row col-md-10  custyle">
        <table class="table table-striped custab">
          <thead>

            <tr>

              <th>Nombre</th>
              <th>Descripcion</th>




              <th class="text-center">Action</th>
            </tr>
          </thead>

          <tbody>



            <tr *ngFor="let applicative of applicatives">



              <td>{{applicative.name}}</td>
              <td>{{applicative.description}}</td>






              <td *ngIf="isMantenimiento==true" class="text-center">
                <div class="btn-group">
                  <a [routerLink]="(['/applicative-addEdit',applicative.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                  <a (click)="eliminarAuditoria(applicative.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                </div>
              </td>
            </tr>



          </tbody>
        </table>
      </div>
    </div>-->
