

<div class="container">
  <div class="row col-md-10  custyle">
    <table class="table table-striped custab">
      <thead>

        <tr>

          <th>Name</th>
          <th>Accion</th>

          <th class="text-center">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let permission of permissions">


          <td>{{permission.message}}</td>
          <td>{{permission.accion}}</td>





          <td *ngIf="isMantenimiento==true" class="text-center">
            <div class="btn-group">
              <a [routerLink]="(['/Permission-addEdit',permission.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
              <a (click)="eliminarpagina(permission.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
