
<div class="container">
  <div class="row col-md-10  custyle">
    <table class="table table-striped custab">
      <thead>
        <tr>
          <!--<th *ngFor="let cabecera of cabeceras">


          </th>-->
          <!--<th data-toggle="true">Nombre del Rol </th>
          <th data-hide="phone">Nombre usuario</th>-->
          <th data-hide="phone">Correo electrónico</th>

          <th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>
          <!--<th class="text-right" data-sort-ignore="true">Action</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of Usuarios">


          <!--<td>{{usuario.nombretipoUsuario}}</td>
          <td>{{usuario.nombreUsuario}}</td>-->

          <td>{{usuario.email}}</td>


          <td *ngIf="isMantenimiento==true" class="text-center">
            <div class="btn-group">
              <a [routerLink]="(['/Users-addEdit',usuario.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
              <a (click)="eliminarUsuario(usuario.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
 
