

<div class="container">
  <div class="row col-md-10  custyle">
    <table class="table table-striped custab">
      <thead>

        <tr>

          <th>Tipo</th>
          <th>Info</th>
          <!--<th>Role</th>-->
          <th>Usuario</th>
          <!--<th>Url</th>-->
          <th>Fecha</th>

          <!--<th class="text-center">Action</th>-->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let auditoria of auditoria">


          <td>{{auditoria.consult}}</td>
          <td>{{auditoria.description}}</td>
          <!--<td>{{auditoria.roleId}}</td>-->
        <td>{{auditoria.email}}</td>
          <!--<td>{{auditoria.url}}</td>-->
          <td>{{auditoria.creationDate}}</td>





          <!--<td *ngIf="isMantenimiento==true" class="text-center">
            <div class="btn-group">
            
              <a (click)="eliminarAuditoria(auditoria.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
            </div>
          </td>-->
        </tr>

      </tbody>
    </table>
  </div>
</div>
