


<div class="container">
  <div class="row col-md-10  custyle">

    <div class="panel panel-default" style="margin-bottom:2em"  *ngFor="let pagina of paginas">
      <div class="panel-heading">{{pagina.name}}</div>
      <div class="panel-body">





        <table class="table table-striped custab">
          <thead>

            <tr>

              <th>Name</th>
              <th>Description</th>

              <th class="text-center">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let pag of pagina.pageListAsociateteName">


              <td>{{pag.name}}</td>
              <td>{{pag.description}}</td>





              <td *ngIf="isMantenimiento==true" class="text-center">
                <div class="btn-group">
                 <!-- <a [routerLink]="(['/ApplicationSon-addEdit',pag.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>-->
                  <a (click)="eliminarpagina(1)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
