
<div class="container" style="margin-top:40px">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <!--
          The idea is to use mostly Bootstrap markup,
          peppered with a few "tr" and "td" classes,
          so you can turn any basic bootstrap panel
          into a columnar panel.
      -->
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="tr">
            <div class="td">heading</div>
            <div class="td">heading</div>
            <div class="td">heading</div>
          </div>
        </div>
        <div class="panel-body">
          <div class="tr">
            <div class="td">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique facere necessitatibus quo laboriosam consequuntur</div>
            <div class="td">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam placeat odit quasi autem distinctio veritatis ex numquam nihil</div>
            <div class="td">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam placeat odit quasi autem distinctio veritatis ex numquam nihil nulla tempora a dolorem omnis beatae facilis perspiciatis doloribus? Error dolore!</div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="tr">
            <div class="td">footer</div>
            <div class="td">footer</div>
            <div class="td">footer</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
