<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>ToolsSoport</a>
    </div>
    <div class='clearfix'></div>



  
 

    <div class="nav">
      <input type="checkbox" id="menu" checked />
      <label for="menu" id="nav-icon">&#9776;</label>

      <div class="multi-level">
        <!--<div class="item">
      <input type="checkbox" id="A"/>
      <img src="/assets/images/Arrow.png" class="arrow"><label for="A">Services</label>

      <ul>
          <li><a href="#">Branding</a></li>
          <li><a href="#">Web/App Development</a></li>
          <li><a href="#">Internet Marketing and SEO</a></li>
      </ul>
  </div>-->

        <div class="item" *ngIf="login==false">
          <input type="checkbox" id="K"  [routerLink]='["/login"]' />
         <label for="K">Entrar</label>


        </div>





        <!--<div class="item" *ngIf="login==true">
          <input type="checkbox" id="Salir" (click)="CloseSession()" />
          <label for="Salir">Salir</label>       
        </div>-->



        <!--<li>
    <a (click)="CloseSession()" *ngIf="login==true">
      <i class="fa fa-sign-out"></i>
      <span class='glyphicon glyphicon-off'></span> Log out
    </a>
  </li>-->




        <div class="item" *ngIf="login==true">

          <div class="item" *ngFor="let Lp of ListadoPagina">
            <input type="checkbox" id='{{Lp.name}}' />
            <img src="/assets/images/Arrow.png" class="arrow"><label for='{{Lp.name}}'>{{Lp.name}}</label>

            <ul *ngFor="let Lpop of Lp.listCategories">
              <li>
                <div class="sub-item">
                  <input type="checkbox" id='{{Lpop.name}}+{{Lp.name}}' />
                  <img src="/assets/images/Arrow.png" class="arrow"><label for='{{Lpop.name}}+{{Lp.name}}'>{{Lpop.name}}</label>

                  <ul>
                    <li *ngFor="let Lpopito of Lpop.listadoPagina">
                      <a [routerLink]='[Lpopito.namePermiso]'>{{Lpopito.name}}</a>
                    </li>
                    <!--<li><a href="#">UI Designer</a></li>
              <li><a href="#">UX Designer</a></li>-->
                  </ul>
                </div>
              </li>
              <!--<li><div class="sub-item">
              <input type="checkbox" id="B-B"/>
              <img src="/assets/images/Arrow.png" class="arrow"><label for="B-B">Development</label>

              <ul>
                  <li><a href="#">Front end Developer</a></li>
                  <li><a href="#">Back end Developer</a></li>
              </ul>

          </div>
        </li>
          <li><a href="#">Graphic Designer</a></li>
          <li><a href="#">Logo Designer</a></li>-->

            </ul>
          </div>

        </div>
        <!--<div class="item">
      <input type="checkbox" id="C"/>
      <img src="/assets/images/Arrow.png" class="arrow"><label for="C">About Us</label>

      <ul>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Our Work</a></li>
      </ul>
  </div>-->
        <!--<div class="item" *ngIf="login==true">
    <input type="checkbox" id="K" />

    <a (click)="CloseSession()" *ngIf="login==true">
      <i class="fa fa-sign-out"></i>
      <span class='glyphicon glyphicon-off'></span> Log out
    </a>

  </div>-->

        <div class="item" *ngIf="login==true">
          <input type="checkbox" id="Salir" (click)="CloseSession()" />
          <label for="Salir">Salir</label>


          <!--<a (click)="CloseSession()" *ngIf="login==false" class="arrow"></a><label for="Salir">Salir</label>-->
          <!--<a class="arrow" (click)="CloseSession()" *ngIf="login==true">-->
          <!--<span for="Salir" class='glyphicon glyphicon-off'></span> Log out
    </a>-->
        </div>



      </div>


      </div>








    <!--<div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>-->
    <!--<ul class='nav navbar-nav'>-->
    <!--<li *ngFor="let Lp of ListadoPagina" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a [routerLink]='[Lp.accion]' *ngIf="login==true" (click)='collapse()'>
      <span></span> {{Lp.message}}

    </a>
  </li>-->
    <!--<li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/counter"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-education'></span> Counter
    </a>
  </li>
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-th-list'></span> Fetch data
    </a>
  </li>-->
    <!--<li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/login"]' (click)='collapse()' *ngIf="login==false">
      <span class='glyphicon glyphicon-off'></span> Entrar
    </a>
  </li>-->
    <!--<li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/Empresa"]' (click)='collapse()' >
      <span class='glyphicon glyphicon-on'></span> Empresa
    </a>
  </li>-->
    <!--<li>
    <a (click)="CloseSession()" *ngIf="login==true">
      <i class="fa fa-sign-out"></i>
      <span class='glyphicon glyphicon-off'></span> Log out
    </a>
  </li>-->
    <!--</ul>-->
    <!--</div>-->
  </div>
</div>
