

<h1>{{titulo}}</h1>
<div class="col-md-12">
  <form [formGroup]="seguridad" (ngSubmit)="guardarDatos()">


    <!--<div class="form-group">
  <label>Id Usuario</label>-->
    <input type="hidden" class="form-control" readonly formControlName="id" />

    <div class="form-group">
      <label>Combobox de usuario</label>

      <!--formControlName="idUsuario"-->
      <select class="form-control" formControlName="idUsuario">
        <option value="">--Seleccione--</option>

        <option [value]="usuario.id" *ngFor="let usuario of usuarios">{{usuario.email}}</option>
      </select>
    </div>



  
    <div class="form-group">
      <label>Seleccione  Aplicativo</label>
      <!--formControlName="idApplicative"-->
      <select class="form-control" formControlName="idApplicative">
        <option value="">--Seleccione--</option>
        <!--<option *ngFor="let rol of roles let index = index" [value]="rol.id" [selected]="index == 1">{{rol.name}}</option>-->
        <option [value]="Applicativo.name" *ngFor="let Applicativo of Applicativos">{{Applicativo.name}}</option>
      </select>

    </div>











    <div class="form-group">
      <label>Seleccione el rol para este Aplicativo</label>
      <!--formControlName="idUsuario"-->
      <select class="form-control" formControlName="idRol">
        <option value="">--Seleccione--</option>
      
        <option [value]="rol.id" *ngFor="let rol of roles">{{rol.name}}</option>
      </select>

      <!--<div *ngFor="let rol of roles">
      <input class="check" (change)="verCheck()" type="checkbox" [name]="rol.id" />
      <label>{{rol.name}}</label>
    </div>-->
      <!--<div class="radio" *ngFor="let rol of roles">
      <label><input type="radio" class="check" (change)="verCheck()" [name]="rol.id">{{rol.name}}</label>
    </div>-->
    </div>





    <!--<div class="panel panel-default" *ngFor="let Applicativo of Applicativos">
      <div class="panel-heading">{{Applicativo.name}}</div>
      <div class="panel-body">








      </div>
    </div>-->

    <!--paneles de aplicativos-->
    <!--<div class="form-group">
    <label>Seleccione los Aplicativos</label>

    <div *ngFor="let listadopaginas of ListadoPaginas">
      <input class="check" (change)="verCheck()" type="checkbox" [name]="listadopaginas.id" />
      <label>{{listadopaginas.message}}</label>
    </div>
  </div>-->










    <input type="submit" [disabled]="!seguridad.valid" class="btn btn-primary" value="Guardar" />

    <input type="button" [routerLink]="['/Users']" class="btn btn-info" value="Regresar" />


  </form>


</div>
