
<div class="row">
  <div class="col-md-12">


    <form [formGroup]="applicationsSon" (ngSubmit)="guardarDatos()">



      <input type="hidden" formControlName="id" />
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="name" />
        <div style="color:red" *ngIf="applicationsSon.controls['name'].errors?.required">
          El nombre  de la applications es Obligatorio
        </div>

      </div>

      <div class="form-group">
        <label>Descripcion</label>

        <input type="text" class="form-control" formControlName="description" />
        <div style="color:red" *ngIf="applicationsSon.controls['description'].errors?.required">
          El nombre  de la applications es Obligatorio
        </div>
      </div>



      <!--<div class="form-group">
        <label>Url</label>
        <input type="text" class="form-control" formControlName="url" />
        <div style="color:red" *ngIf="applicationsSon.controls['url'].errors?.required">
          El nombre  de la applications es Obligatorio
        </div>

      </div>-->

      <!--<div class="form-group">
    <label>Applicacion</label>
    <select formControlName="applicationid">
      <option value="1">Ander</option>
      <option value="2">Cumbre</option>
    </select>


  </div>-->

      <div class="form-group">
        <label>Aplicativo que pertenece</label>
        <select class="form-control" formControlName="applicationid">
          <option *ngFor="let aplicativos of tipoApplicativos" [value]="aplicativos.id">{{aplicativos.name}}</option>
        </select>
      </div>




      <input type="submit" class="btn btn-primary" value="Guardar" />
      <!--<input type="button" [routerLink]="['/Applications']" class="btn btn-info" value="Regresar" />-->


    </form>

  </div>
</div>
