
<div class="row">
  <div class="col-md-12">


    <form [formGroup]="applications" (ngSubmit)="guardarDatos()">

     

      <input type="hidden" formControlName="id" />
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="name" />
        <div style="color:red" *ngIf="applications.controls['name'].errors?.required">
          El nombre  de la applications es Obligatorio
        </div>

      </div>

      <div class="form-group">
        <label>Descripcion</label>

        <input type="text" class="form-control" formControlName="description" />
        <div style="color:red" *ngIf="applications.controls['description'].errors?.required">
          El nombre  de la applications es Obligatorio
        </div>
      </div>





      <input type="submit" class="btn btn-primary" value="Guardar" />
      <!--<input type="button" [routerLink]="['/Applications']" class="btn btn-info" value="Regresar" />-->


    </form>

  </div>
</div>
