<!--{{ProcedureViewModel}}-->



<div class="container">
  <div class="row col-md-10  custyle">






    <div class="panel panel-default">
      <div class="panel-heading"> <strong>Company Info</strong> </div>
      <div class="panel-body">



        <table class="table table-striped custab">
          <thead>
            <tr>
              <!--<th *ngFor="let cabecera of cabeceras">


            </th>-->
              <!--<th data-toggle="true">id </th>-->

              <th data-hide="phone">status</th>
              <th data-toggle="true">taxId </th>
              <th data-hide="phone">businessName</th>
              <th data-hide="phone">shortName</th>
              <th data-toggle="true">businessType </th>
              <th data-hide="phone">name1 <br />name2</th>

              <th data-toggle="true">surname1 <br />surname2 </th>

              <th data-hide="phone">Application</th>
              <!--<th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>-->
              <!--<th class="text-right" data-sort-ignore="true">Action</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grantor of ProcedureViewModel.grantorSettingViewModels">


              <!--<td>{{grantor.id}}</td>-->
              <td>{{grantor.status}}</td>
              <td>{{grantor.taxId}}</td>
              <td>{{grantor.businessName}}</td>
              <td>{{grantor.shortName}}</td>
              <td>{{grantor.businessType}}</td>
              <td>{{grantor.name1}} <br />{{grantor.name2}}</td>

              <td>{{grantor.surname1}}<br />{{grantor.surname2}}</td>

              <td>{{grantor.Application}}</td>




              <!--<td *ngIf="isMantenimiento==true" class="text-center">
              <div class="btn-group">
                <a [routerLink]="(['/Users-addEdit',usuario.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                <a (click)="eliminarUsuario(usuario.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
              </div>
            </td>-->
            </tr>
          </tbody>
        </table>

      </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading"><strong>Packages</strong> </div>
      <div class="panel-body">



        <table class="table table-striped custab">
          <thead>
            <tr>
              <!--<th *ngFor="let cabecera of cabeceras">


            </th>-->
              <th data-toggle="true">code </th>

              <th data-hide="phone">name</th>
              <th data-toggle="true">crmId </th>

              <!--<th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>-->
              <!--<th class="text-right" data-sort-ignore="true">Action</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let package of ProcedureViewModel.packageViewModels">


              <td>{{package.code}}</td>
              <td>{{package.name}}</td>
              <td>{{package.crmId}}</td>





              <!--<td *ngIf="isMantenimiento==true" class="text-center">
              <div class="btn-group">
                <a [routerLink]="(['/Users-addEdit',usuario.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                <a (click)="eliminarUsuario(usuario.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
              </div>
            </td>-->
            </tr>
          </tbody>
        </table>

      </div>
    </div>





    <div class="panel panel-default">
      <div class="panel-heading"><strong>Services</strong> </div>
      <div class="panel-body">



        <table class="table table-striped custab">
          <thead>
            <tr>
              <!--<th *ngFor="let cabecera of cabeceras">


            </th>-->
              <th data-toggle="true">code </th>

              <th data-hide="phone">name</th>
              <th data-toggle="true">crmId </th>
              <th data-toggle="true">limit </th>




              <!--<th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>-->
              <!--<th class="text-right" data-sort-ignore="true">Action</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of ProcedureViewModel.serviceViewModels">


              <td>{{service.code}}</td>
              <td>{{service.name}}</td>
              <td>{{service.crmId}}</td>
              <td>{{service.limit}}</td>







              <!--<td *ngIf="isMantenimiento==true" class="text-center">
              <div class="btn-group">
                <a [routerLink]="(['/Users-addEdit',usuario.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                <a (click)="eliminarUsuario(usuario.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
              </div>
            </td>-->
            </tr>
          </tbody>
        </table>

      </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading"><strong>Documents</strong> </div>
      <div class="panel-body">



        <table class="table table-striped custab">
          <thead>
            <tr>
              <!--<th *ngFor="let cabecera of cabeceras">


            </th>-->
              <!--<th data-toggle="true">uuid </th>-->
              <th data-hide="phone">serieFolio</th>
              <th data-hide="phone">status</th>
              <th data-toggle="true">statusName </th>
              <!--<th data-hide="phone">customerId</th>-->
              <th data-hide="phone">customer</th>
              <th data-toggle="true">totalAmount </th>
              <th data-hide="phone">balance</th>
              <th data-hide="phone">currency</th>
              <th data-toggle="true">loadedDate <br />dueDate</th>

              <th data-hide="phone">paymentReference</th>
              <!--<th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>-->
              <!--<th class="text-right" data-sort-ignore="true">Action</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of ProcedureViewModel.documentViewModels">


              <!--<td>{{document.uuid}}</td>-->
              <td>{{document.serieFolio}}</td>
              <td>{{document.status}}</td>
              <td>{{document.statusName}}</td>

              <td>{{document.customer}}</td>
              <td>{{document.totalAmount}}</td>
              <td>{{document.balance}}</td>
              <td>{{document.currency}}</td>
              <td>{{document.loadedDate}}<br />{{document.dueDate}}</td>

              <td>{{document.paymentReference}}</td>



              <!--<td *ngIf="isMantenimiento==true" class="text-center">
              <div class="btn-group">
                <a [routerLink]="(['/Users-addEdit',usuario.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                <a (click)="eliminarUsuario(usuario.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
              </div>
            </td>-->
            </tr>
          </tbody>
        </table>

      </div>
    </div>




























    <div class="panel panel-default">
      <div class="panel-heading"> <strong>Payments</strong> </div>
      <div class="panel-body">



        <table class="table table-striped custab">
          <thead>
            <tr>
              <!--<th *ngFor="let cabecera of cabeceras">


            </th>-->
              <th data-toggle="true">PaymentDate </th>

              <!--<th data-hide="phone">documentId</th>-->
              <th data-toggle="true">Amount </th>

              <th data-toggle="true">Currency </th>

              <th data-hide="phone">PaymentMethod</th>
              <th data-toggle="true">Type </th>


              <th data-toggle="true">isLoadedByApi </th>

              <!--<th data-hide="phone">PaymentTransactionId</th>-->
              <th data-toggle="true">Comments </th>




              <!--<th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>-->
              <!--<th class="text-right" data-sort-ignore="true">Action</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of ProcedureViewModel.paymentViewModels">


              <td>{{payment.paymentDate}}</td>
              <!--<td>{{payment.documentId}}</td>-->
              <td>{{payment.amount}}</td>

              <td>{{payment.currency}}</td>
              <td>{{payment.paymentMethod}}</td>
              <td>{{payment.type}}</td>

              <td>{{payment.isLoadedByApi}}</td>
              <!--<td>{{payment.paymentTransactionId}}</td>-->
              <td>{{payment.comments}}</td>







              <!--<td *ngIf="isMantenimiento==true" class="text-center">
              <div class="btn-group">
                <a [routerLink]="(['/Users-addEdit',usuario.id])" style="margin-right:0.2em" class="btn-warning btn btn-xs"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                <a (click)="eliminarUsuario(usuario.id)" class="btn-danger btn btn-xs"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
              </div>
            </td>-->
            </tr>
          </tbody>
        </table>

      </div>
    </div>







  </div>
</div>

