
<h1>{{titulo}}</h1>
<div class="col-md-12">
  <form [formGroup]="usuario" (ngSubmit)="guardarDatos()">


    <!--<div class="form-group">
      <label>Id Usuario</label>-->
    <input type="hidden" class="form-control" readonly formControlName="id" />

    <!--</div>-->


    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" />

      <div style="color:red" *ngIf="usuario.controls['email'].errors?.required">

        El nombre del usuario es obligatorio
      </div>
      <div style="color:red" *ngIf="usuario.controls['email'].errors?.maxlength">

        Demasiado largo tiene qe reducir
      </div>
      <div style="color:red" *ngIf="usuario.controls['email'].errors?.yaExiste">
        este usuario ya existe
      </div>
    </div>


    <div class="form-group" *ngIf="ver==true">
      <label>Ingrese contraseña</label>
      <input type="password" class="form-control" formControlName="contra" />

      <div style="color:red" *ngIf="usuario.controls['contra'].errors?.required">

        la contraseñaaa es obligatorio
      </div>
      <div style="color:red" *ngIf="usuario.controls['contra'].errors?.maxlength">

        Demasiado largo tiene qe reducir
      </div>
    </div>

    <div class="form-group" *ngIf="ver==true">
      <label>repita contraseña</label>
      <input type="password" class="form-control" formControlName="contra2" />
      <div style="color:red" *ngIf="usuario.controls['contra2'].errors?.noIguales">

        la contraseñaaa no es igual a la de arriba
      </div>

    </div>


    <!--<div class="form-group" *ngIf="ver==true">
      <label>Aplicativos</label>

      <select class="form-control" formControlName="idApplicative">
        <option *ngFor="let Applicativo of Applicativos" [value]="Applicativo.id">{{Applicativo.name}}</option>
      </select>
      <div style="color:red" *ngIf="usuario.controls['idPersona'].errors?.required">

        la id persona es obligatorio
      </div>
      <div style="color:red" *ngIf="usuario.controls['idPersona'].errors?.maxlength">

        Demasiado largo tiene qe reducir
      </div>

    </div>

    <div class="form-group">
      <label>Roles</label>
      <select class="form-control" formControlName="idRol">
        <option *ngFor="let usuariote of tipoUsuarios" [value]="usuariote.id">{{usuariote.name}}</option>
      </select>
    </div>-->



    <input type="submit" [disabled]="!usuario.valid" class="btn btn-primary" value="Guardar" />
    <input type="button" [routerLink]="['/Users']" class="btn btn-info" value="Regresar" />


  </form>


</div>

<!--<div *ngIf="usuario.valid==false" style="margin:1em">

  <div class="alert alert-danger">

    El formulario no es Valido, Verifique que sean correctos los campos
  </div>

</div>-->
